/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 834px;
  margin: auto;
  font-family: Lato;
}
/* components */
:root {
  --color-main: #e0aa48;
  --color-secondary: #f1f1f1;
}

h2 {
  font-size: 2rem;
}

input {
  all: unset;
  width: 23.875rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: var(--color-secondary);
  padding: 3px 15px;
  margin-bottom: 1.25rem;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #9f9f9f;
  transition: color 0.3s ease;
}

input[type="date"] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f9f9f;
}

button {
  all: unset;
  width: 11.188rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}

form {
  margin-top: 2rem;
}

label {
  transform: translate(0.25rem, -2rem);
  transition: all 0.2s ease-out;
}

.bookDisplay {
  display: flex;
  border-radius: 10px;
  align-items: center;
  background: var(--color-main);
  color: #422b02;
  margin: 11px 11px;
  padding: 12px;
}

.bookList {
  display: flex;
  width: 25.875rem;
  height: 20.5rem;
  border-radius: 10px;
  background: var(--color-secondary);
  flex-direction: column;
  overflow-y: auto;
  /* height: fit-content; */
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* assets */

.trashButton {
  cursor: pointer;
  background: url(../assets/Delete.png);
  margin-left: auto;
}

/* header */

header {
  color: var(--color-main);
  text-align: center;
  font-size: 2.125rem;
}

/* top section */

.topWrapper {
  display: flex;
  column-gap: 2.25rem;
  justify-content: space-between;
  margin-top: 3rem;
}

.addBook > h2,
.unfinishedBookList > h2 {
  text-align: right;
}

.isProgress {
  display: flex;
  justify-content: space-between;
}

.btn-finished {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #8a813e;
  color: #8a813e;
  font-size: 1.5rem;
}

.btn-finished:hover {
  border-color: #524b19;
  color: #524b19;
}

.btn-unfinished {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #76321f;
  color: #76321f;
  font-size: 1.5rem;
}

.btn-unfinished:hover {
  border-color: #5b2211;
  color: #5b2211;
}

/* bottom section */

.bottomWrapper {
  display: flex;
  column-gap: 2.25rem;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.bottomWrapper h2 {
  margin-bottom: 2rem;
}

.bookList {
  /* height: fit-content; */
}
